/* Root Styles */
:root {
    --bg: white;

    --card-bg: grey;
    --card-heading: white;

    --label-color: white;
    --input-bg: white;
    --input-color: black;

    --radio-bg: white;
    --radio-color: black;
    --radio-sel-bg: black;
    --radio-sel-color: white;

    --btn-bg: black;
    --btn-color: white;

    --game-bg: grey;
    --status-color: white;
}

html {
    scrollbar-gutter: stable;
}

/* General */
body {
    background-color: var(--bg);
    margin: 0;
    padding: clamp(8px, 10vh, 100px) 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: "Kanit", sans-serif;
}

h1 {
    margin: 0;
    font-size: 40px;
    line-height: 44px;
}

button, input {
    font-family: inherit;
}

[hidden] {
    display: none !important;
}

/* Start Form */
#start-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#cards-div {
    display: flex;
    align-items: center;
    gap: 24px;
}

#cards-div > p {
    font-size: 48px;
    line-height: 50px;
}

/* Player Cards */
.player-card {
    background-color: var(--card-bg);
    padding: 24px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: clamp(150px, 30vw, 350px);
}

.player-card h2 {
    margin: 0;
    color: var(--card-heading);
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-div label, .form-div p {
    margin: 0;
    color: var(--label-color);
}

.form-div input[type="text"] {
    background-color: var(--input-bg);
    color: var(--input-color);
    border: none;
    border-radius: 8px;
    padding: 0 8px;
    height: 28px;
}

.mark-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.btn-label {
    cursor: pointer;
}

.btn-label input {
    display: none;
}

.btn-label span {
    padding: 8px;
    border: 2px solid var(--radio-sel-bg);
    font-weight: bold;
    background-color: var(--radio-bg);
    color: var(--radio-color);
}

.left-label span {
    display: block;
    border-radius: 8px 0 0 8px;
    border-right: none;
}

.right-label span {
    display: block;
    border-radius: 0 8px 8px 0;
    border-left: none;
}

.starter-label {
    align-self: center;
}

.starter-label span {
    border-radius: 8px;
    padding: 6px 16px;
}

.btn-label input:checked + span {
    background-color: var(--radio-sel-bg);
    color: var(--radio-sel-color);
}

#start-btn, #reset-btn {
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}

/* Game Board */
#game-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#game-div > div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 24px;
    align-items: center;
}

.game-player {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 60px;
    text-align: center;
}

.game-player h2, .game-player p {
    margin: 0;
}

.game-player h2 {
    font-size: 40px;
}

.game-player h2 span {
    font-weight: normal;
}

.game-player p {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

#game-main {
    text-align: center;
    background-color: var(--game-bg);
    padding: 24px;
    border-radius: 20px;
}

#status-text {
    font-size: 28px;
    line-height: 30px;
    color: var(--status-color);
    margin: 0 0 16px;
}

#game-board {
    width: min(40vw, 50vh);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid black;
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.cell span {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
}